*{
  margin:0;
  // margin-top: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


.body{
  display: flex;
  flex-direction: row;

  margin-top: 50px;
  margin-bottom: 30px;
  background-color: peachpuff;
}

.body-index{
  display: flex;
  flex-direction: row;

  margin-top: 50px;
  margin-bottom: 30px;
  background-color: peachpuff;

}

.filter-container{
  // display: none;
  height: calc(((100vh - 100px) - 200px) - 0px );
  height: 100vh;
  background-color: palevioletred;
  overflow-y : auto;
  position: fixed;
  margin-bottom: 100px;
  .filters{
    margin-bottom: 50px;
    width: 300px;
    background-color: palegoldenrod;
    display: flex;
    flex-direction: column;
    .filter-item {
      background-color: paleturquoise;
      height: 400px;
      margin: 5px;
    }
  }
}
  
.container-index{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-left: 350px;
width: 700px;
background-color: palegreen;
.event-card{
  display: flex;
  flex-direction: row;
  background-color: grey;
  width: 100%;
  height: 200px;
  margin: 5px;
  .card-left{
    background-color: green;
  }
  .card-right{
    background-color: paleturquoise;
    width: 400px;
  }

}
}
















  .navbar {
    position:fixed;
    top:0;
    width: 100%;
    height: 50px;
    text-align: right;
    color: white;
    background-color: blue;
    
  }
  
  .footer {
    position:fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: white;
  width:100%;
  height: 30px;
  background-color: green;
  // z-index: 10;

}